{{define "base"}}
<!doctype html>
<title>Welcome | MiniTwit</title>
<link rel=stylesheet type="text/css" href="/static/style.css">
<div class=page>
    <h1> {{template "title" .}} </h1>

    {{ if .username }}
    <div class=navigation>
        <a href="/">my timeline</a> |
        <a href="/public">public timeline</a> |
        <a href="/logout">sign out [{{ .username }}]</a> |
    </div>
    {{else}}
    <div class=navigation>
        <a href="/public">public timeline</a> |
        <a href="/register">sign up</a> |
        <a href="/login">sign in</a>
    </div>
    {{end}}
    <!-- Need some logic for flashed messages -->
    <div class=body>
        {{template "body" .}}
    </div>

    <div class=footer>
        MiniTwit &mdash; A Gorilla MUX
    </div>

</div>
{{end}}
