{{template "base" .}}
{{define "title"}} MiniTwit {{end}}
{{define "body"}}

{{ if .ownProfile }}
<h2>My Timeline</h2>
<div class=twitbox>
  <h3>What's on your mind {{ .username }}?</h3>
  <form action="/addMessage" method=post>
    <p><input type=text name=text size=60>
      <input type="hidden" name="token" value="{{.username}}" />
      <input type=submit value="Share">
  </form>
</div>
{{else if .title }}
<h2>{{.title}}</h2>
<ul class=flashes>
  {{range .MsgInfo}}<li>{{.}}</li>{{end}}
</ul>

<ul class=flashes--error>
  {{range .MsgWarn}}<li>{{.}}</li>{{end}}
</ul>
{{else}}
<h2>Public Timeline</h2>
{{end}}



{{ if and .profileOwner .username}}
<div class=followstatus>
  {{ if .ownProfile }}
  This is you!
  {{else if .followed }}
  You are currently following this user.
  <a class=unfollow href="{{.profileOwner}}/unfollow">Unfollow user</a>.
  {{else}}
  You are not yet following this user.
  <a class=follow href="{{.profileOwner}}/follow">Follow user</a>.
  {{end}}
</div>
{{end}}


<ul class=messages>
  {{if gt .msgCount 0}}
  {{range .messages}}
  <li>
    <img src="{{.Email}}" alt="avatar" width="48" height="48">
    <p>
      <strong>
        <a href="/{{.User}}">{{.User}}</a>
      </strong>
      {{.Content}}
    </p>
    <small>&mdash;{{.PubDate}}</small>
  </li>
  {{end}}
  {{else}}
  <li><em>There's no message so far.</em>
    {{end}}
</ul>
{{end}}
